<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string></string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>027DA0DE-BCEC-470C-9A04-CB7A2D848F5B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D5B02561-8919-42F1-B2D2-6ED3CC323673</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>96D4393C-D238-4E95-BDAA-692110120311</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>617513A6-F8C4-48E0-B086-F3B850F7E00E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>087F4B59-D07F-4529-AF9C-0EB94295B036</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FECAE7AD-23EE-408E-8718-48D3ABA814EC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>3D051ED8-E1CC-4857-B2A9-CC4A858B9393</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>027DA0DE-BCEC-470C-9A04-CB7A2D848F5B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>3EE43F21-97E9-46A1-BCFC-B1791FCB7DE6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4AF3A3BE-4DDA-4842-9460-B5092C1AE349</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>5305554B-BB23-4BA0-BCD7-40CD4B07A8B0</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3D051ED8-E1CC-4857-B2A9-CC4A858B9393</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>56C9F7A8-7256-41F4-B5B1-48A3A6BF0668</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5305554B-BB23-4BA0-BCD7-40CD4B07A8B0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>617513A6-F8C4-48E0-B086-F3B850F7E00E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9AF2D563-6CF5-4B9C-AB1D-DE08E29CBF79</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>79BB7E84-103D-4B72-9A2F-E928AACAD3D5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>087F4B59-D07F-4529-AF9C-0EB94295B036</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>9AF2D563-6CF5-4B9C-AB1D-DE08E29CBF79</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D5B02561-8919-42F1-B2D2-6ED3CC323673</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D5B02561-8919-42F1-B2D2-6ED3CC323673</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3EE43F21-97E9-46A1-BCFC-B1791FCB7DE6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>FECAE7AD-23EE-408E-8718-48D3ABA814EC</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>56C9F7A8-7256-41F4-B5B1-48A3A6BF0668</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Juan</string>
	<key>description</key>
	<string>Pastes the link of your Zoom personal room and opens it</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Zoom personal room</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>6</integer>
				<key>hotmod</key>
				<integer>1310720</integer>
				<key>hotstring</key>
				<string>Z</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>79BB7E84-103D-4B72-9A2F-E928AACAD3D5</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>count</key>
				<integer>1</integer>
				<key>keychar</key>
				<string>↩</string>
				<key>keycode</key>
				<integer>36</integer>
				<key>keymod</key>
				<integer>0</integer>
				<key>overridewithargument</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.dispatchkeycombo</string>
			<key>uid</key>
			<string>56C9F7A8-7256-41F4-B5B1-48A3A6BF0668</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<true/>
				<key>clipboardtext</key>
				<string>zoommtg://zoom.us/join?confno={var:personal_id}&amp;pwd={var:password}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>087F4B59-D07F-4529-AF9C-0EB94295B036</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>seconds</key>
				<string>1</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.delay</string>
			<key>uid</key>
			<string>FECAE7AD-23EE-408E-8718-48D3ABA814EC</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>zoommtg://zoom.us/join?confno={var:personal_id}&amp;pwd={var:password}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>D5B02561-8919-42F1-B2D2-6ED3CC323673</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>count</key>
				<integer>1</integer>
				<key>keychar</key>
				<string>v</string>
				<key>keycode</key>
				<integer>-1</integer>
				<key>keymod</key>
				<integer>1179648</integer>
				<key>overridewithargument</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.dispatchkeycombo</string>
			<key>uid</key>
			<string>4AF3A3BE-4DDA-4842-9460-B5092C1AE349</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>seconds</key>
				<string>2</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.delay</string>
			<key>uid</key>
			<string>3EE43F21-97E9-46A1-BCFC-B1791FCB7DE6</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>tasksettings</key>
				<dict/>
				<key>taskuid</key>
				<string>com.alfredapp.automation.core/macOS/app.running</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.automation.task</string>
			<key>uid</key>
			<string>3D051ED8-E1CC-4857-B2A9-CC4A858B9393</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>4</integer>
						<key>matchstring</key>
						<string>true</string>
						<key>outputlabel</key>
						<string>Launch room</string>
						<key>uid</key>
						<string>96D4393C-D238-4E95-BDAA-692110120311</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>Launch Zoom</string>
				<key>hideelse</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>027DA0DE-BCEC-470C-9A04-CB7A2D848F5B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{var:zoom_app_name}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>5305554B-BB23-4BA0-BCD7-40CD4B07A8B0</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>tasksettings</key>
				<dict>
					<key>app_list</key>
					<string>Zoom.us</string>
					<key>in_background</key>
					<true/>
				</dict>
				<key>taskuid</key>
				<string>com.alfredapp.automation.core/macOS/app.open</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.automation.task</string>
			<key>uid</key>
			<string>617513A6-F8C4-48E0-B086-F3B850F7E00E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>seconds</key>
				<string>3</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.delay</string>
			<key>uid</key>
			<string>9AF2D563-6CF5-4B9C-AB1D-DE08E29CBF79</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>(For Alfred version 5 and more)

Pastes the link of your Zoom personal room, opens the room and activates your video.

You need to edit the workflow in order to define your hotkey.

You need to configure the {personal_id} and the {password}. You can get this information in Zoom.

If nothing happens when you activate the workflow, you may need to check the name of your Zoom app and define it in the variable {zoom_app_name}. You can do that in Finder under the Applications folder. By default, it is Zoom.us.</string>
	<key>uidata</key>
	<dict>
		<key>027DA0DE-BCEC-470C-9A04-CB7A2D848F5B</key>
		<dict>
			<key>xpos</key>
			<real>280</real>
			<key>ypos</key>
			<real>480</real>
		</dict>
		<key>087F4B59-D07F-4529-AF9C-0EB94295B036</key>
		<dict>
			<key>xpos</key>
			<real>255</real>
			<key>ypos</key>
			<real>200</real>
		</dict>
		<key>3D051ED8-E1CC-4857-B2A9-CC4A858B9393</key>
		<dict>
			<key>xpos</key>
			<real>125</real>
			<key>ypos</key>
			<real>460</real>
		</dict>
		<key>3EE43F21-97E9-46A1-BCFC-B1791FCB7DE6</key>
		<dict>
			<key>xpos</key>
			<real>640</real>
			<key>ypos</key>
			<real>435</real>
		</dict>
		<key>4AF3A3BE-4DDA-4842-9460-B5092C1AE349</key>
		<dict>
			<key>xpos</key>
			<real>715</real>
			<key>ypos</key>
			<real>405</real>
		</dict>
		<key>5305554B-BB23-4BA0-BCD7-40CD4B07A8B0</key>
		<dict>
			<key>xpos</key>
			<real>50</real>
			<key>ypos</key>
			<real>490</real>
		</dict>
		<key>56C9F7A8-7256-41F4-B5B1-48A3A6BF0668</key>
		<dict>
			<key>xpos</key>
			<real>480</real>
			<key>ypos</key>
			<real>200</real>
		</dict>
		<key>617513A6-F8C4-48E0-B086-F3B850F7E00E</key>
		<dict>
			<key>xpos</key>
			<real>385</real>
			<key>ypos</key>
			<real>565</real>
		</dict>
		<key>79BB7E84-103D-4B72-9A2F-E928AACAD3D5</key>
		<dict>
			<key>xpos</key>
			<real>60</real>
			<key>ypos</key>
			<real>200</real>
		</dict>
		<key>9AF2D563-6CF5-4B9C-AB1D-DE08E29CBF79</key>
		<dict>
			<key>xpos</key>
			<real>530</real>
			<key>ypos</key>
			<real>595</real>
		</dict>
		<key>D5B02561-8919-42F1-B2D2-6ED3CC323673</key>
		<dict>
			<key>xpos</key>
			<real>485</real>
			<key>ypos</key>
			<real>405</real>
		</dict>
		<key>FECAE7AD-23EE-408E-8718-48D3ABA814EC</key>
		<dict>
			<key>xpos</key>
			<real>405</real>
			<key>ypos</key>
			<real>230</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string></string>
				<key>placeholder</key>
				<string>your personal meeting ID</string>
				<key>required</key>
				<true/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>This is the ID of your personal room. Find it in Zoom.</string>
			<key>label</key>
			<string>Personal meeting ID</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>personal_id</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string></string>
				<key>placeholder</key>
				<string>password</string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>Password to your personal room. Find it in Zoom. This is the encoded password, the one that is in the URL invitation to the meeting. Not the plain password.</string>
			<key>label</key>
			<string>Password for your personal room</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>password</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>Zoom.us</string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>Name of the Zoom app for MacOS. Find it in Finder under your Applications folder.</string>
			<key>label</key>
			<string>Name of the Zoom app</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>zoom_app_name</string>
		</dict>
	</array>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>1.0</string>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
